.About {
    margin: 0 auto;
}

    .About-backstory {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .About-backstory-column {
        width: 48%;
    }


    .About-backstory-headline {
        /* color: var(--accent-color); */
        margin-bottom: 35px;
        width: 100%;
        font-size: 2.5rem;
    }


    .About-backstory-picture {
        width: 100%;
        border-radius: 4px;
    }



    /* Media Queries */

@media screen and (max-width: 720px) {

    .About-backstory-column {
        width: 100%;
        margin-bottom: 1em;
    }

    .About > .button-cta {
        margin: 1em auto;
    }
    
}

