.Footer {
   
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  
    font-family: 'Open Sans', sans-serif; /* League Gothic */
    font-size: 0.8em;
    transition: top 0.3s;
    background: var(--secondary-color);
    padding: 3em 0;
    transition: all 0.2s ease-in-out;
  
  }

  .Footer-wrap {
    margin: 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  
  .Back-to-top {
    cursor: pointer;
  }