.Project {
    position: relative;
    width: 48%;
    margin-bottom: 25px;
    border-radius: 4px;
    padding: 20px;
    background: var(--secondary-color-light);
    overflow: hidden;
}

    .Project-wrap {
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
    }

        .Project:hover {
            background: rgba(14,20,19,0.8);
        }

        .Project-image {
            position: relative;
            width: 100%;
            margin: 0 auto;            
            border-radius: 4px;
        }

    .Project-title {
        font-weight: bold;
        margin-bottom: 1em;

    }

    .Project-description {
        margin-bottom: 1em;
    }

    .Project-links {
        display: flex;
        justify-content: left;
        margin-bottom: 1em;
    }

        .Project-links a {
            margin-right: 0.5em;
        }

    .Project-tags {
        list-style: none;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        font-size: 0.8rem;
        margin-bottom: 1em;
        color: var(--primary-color-dark)
    }

        .Project-tag {
            margin-right: 20px;
        }

        .Project-tag:first-of-type {
            color: var(--accent-color)
        }

    

        .Project {
            position: relative;
            width: 48%;
        }

@media screen and (max-width: 720px) {

    .Project {
        width: 100%;
        margin-bottom: 1em;
    }
}
