html {
  font-size: 16px;
}

/* Vars */
:root {
  --primary-color: #e7dedf;
  --primary-color-light: #fff;
  --primary-color-dark:  #b4bdb9;

  --secondary-color: #182120;
  --secondary-color-light: #2c3835;
  --secondary-color-dark: #0e1413;;

  /* Tests for light/dark mode
    --primary-color: #E7DEDF;
    --primary-color-light: #fff;
    --primary-color-dark:  rgb(180, 189, 185);

    --secondary-color: #182120;
    --secondary-color-light: rgb(44, 56, 53, 1);
    --secondary-color-dark: rgba(14, 20, 19, 1);; */

  --accent-color: #f6e27f;
  --accent-color-dark: #e6ca5c1a;

  --wrap-width: 800px;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
  
body {
  background: var(--secondary-color);

  height: 100%;
  color: var(--primary-color);

  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.separator {
  position: relative;
}

  .separator::after {
      content: "";
      position: absolute;
      top: 1.33em;
      left: 0;
      width: 1em;
      height: 0.1em;
      background: var(--accent-color);
  }

/* .App {}

.Content {

} */

.Content {
  max-width: var(--wrap-width);
  margin: 0 auto;
}

  .Content > div {
    padding: 100px 0px;
  }


/* Text */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans&family=Fjalla+One&display=swap');

h1 {
  font-family: 'League Gothic', sans-serif;
  font-weight:500;
  line-height:0.95em;
  font-size: 5rem;
}
  
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight:500;
  line-height:1.4em;
  font-size: 1rem;
}
  
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  letter-spacing:-0.01em;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--accent-color);
}

/* Animations */


@keyframes reveal {
    0%   { transform: translateX(2.5em); }
    100%   { transform: translateX(0em); }
}

@keyframes move {
    10% {
        opacity: 1;

    }
    25% {
        opacity: 1;
        transform: translateY(15px);
    }
    50% {
        opacity: 1;
        transform: translateY(30px);
    }
    75% {
        opacity: 1;
        transform: translateY(45px);
    }
    100% {
        opacity: 0;
        transform: translateY(60px) scale3d(0.5, 0.5, 0.5);
    }
}


@keyframes pulse {
to {
    opacity: 1;
}
}


/* @media screen and (max-width: 45em)  */
@media screen and (max-width: 850px) {
  :root {
    --wrap-width: 90%;
  }

  h1 {
      font-size: 4.5em;
  }
  h2 {
      font-size: 1em;
  }

  .About-backstory-column {
    width: 100%;
  }
}

/* @media screen and (max-width: 45em)  */
@media screen and (max-width: 550px) {

  h1 {
      font-size: 3.5em;
  }
  
  h2 {
      font-size: 1em;
  }

  .About-backstory-column {
    width: 100%;
  }
}

  /* @media screen and (min-width: 888px) */
  @media screen and (min-width: 55.5em) {
  
  }
  /* @media screen and (min-width: 984px) */
  @media screen and (min-width: 61.5em) {
  
  }
  /* @media screen and (min-width: 1200px) */
  @media screen and (min-width: 75em) {
  
  }
  /* @media screen and (min-width: 1392px) */
  @media screen and (min-width: 87em) {
  
  }
  /* @media screen and (min-width: 1680px) */
  @media screen and (min-width: 105em) {
  
  }
  
  /* @media screen and (min-width: 1872px) */
  @media screen and (min-width: 117em) {
  
  }
  /* @media screen and (min-width: 2080px) */
  @media screen and (min-width: 130em) {
  
  }
  